.App {
  display: flex;
  font-family: "IBM Plex Sana Thai Looped", sans-serif;
  color: white;
  background: rgb(2,0,36);
  background: linear-gradient(119deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  text-shadow: 1px 0px 2px #8dc4f0;
}
.body_container{
  flex: 1;
}
.sidebar_container {
  height: 100vh;
  position: sticky;
  top: 0;
  left:0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sidebar{
  display: flex;
  width: 14rem;
  height: 90%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border-radius:10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.lines_icon{
  display: flex;
  align-self: flex-end;
  border-radius: 5px;
}

.span-text{
  margin: auto 10px;
  color: #0023c4;
  font-weight: 700;
  font-size: 18px;
}
.groups{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  color: #fafafa;
}
.group{
  display: flex;
  flex-direction: column;
  width: 100%;
}
h3{
  font-size: 1rem;
  margin: 10px 0px 10px 0px
}
.profile{
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1rem;
  }
  
  .profile>img{
    width: 100%;
  border-radius: 50%;
  }

.item{
  display: flex;
  padding: 6px 10px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 18px;
  margin: 0.2rem 0;
  font-weight: 400;
}
.active{
  font-weight: 600 !important;
  background-color: rgb(240 242 255) !important;
  color: #0023c4 !important;
}
.icon{
  margin-right: 0.5rem;
  margin-top: 6px;
}
